<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - myte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/myte.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="bg-custom">
            <div class="row">
                <div class="col-1  justify-content-center align-items-center d-flex">
                    <div class="position-relative col-12"></div>
                    <img alt="" src="/assets/home-svgrepo-com (1) 1.svg">

                 @* Colocar notas *@   
                </div>
                <div class="p-1 col-8  justify-content-center align-items-center d-flex">
                    <p class="text-purple fs-6 fw-bold font-family-Roboto col-11 m-0 px-3 py-2 small adm-div" >Painel-AdminMaster</p>
                </div>

                <div class="col-3 d-flex justify-content-center align-items-center">
                    <p class="text-center text-dark fs-6 fw-medium font-family-Roboto col-11 m-0 px-3 py-2 small">Nome do Funcionário</p>
                </div>
            </div>
            
    </div>
                                   
    </header>
 
    @RenderBody()
            
    

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
